# DB_CLIENT: 'sqlite3' or 'pg'
DB_CLIENT=sqlite3

PG_CONNECTION=psql
SQLITE_FILENAME=./dev.sqlite

HOST_CHAIN_ID=
HOST_ENDPOINT=
VALIDIUM_ENDPOINT=

HOST_FAST_WITHDRAW_VAULT=
VALIDIUM_MESSAGE_QUEUE=
VALIDIUM_ERC20_GATEWAY=

PERMIT_SIGNER_PRIVATE_KEY=
HOST_SIGNER_PRIVATE_KEY=
